---
import { Debug } from 'astro/components'

import SubMenu from '@components/menu/SubMenu.astro'
import SubMenu2 from '@components/menu/SubMenu2.astro'
import MenuLink from '@components/menu/MenuLink.astro'

const { BASE_URL } = import.meta.env
---

<nav
    class="fixed w-full z-20 top-0 left-0 border-b px-2 bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700"
>
    <div class="container flex flex-wrap items-center justify-between mx-auto">
        <a href={BASE_URL} class="flex items-center">
            <img
                src={`${BASE_URL}logo.png`}
                class="h-6 mr-3 sm:h-10"
                alt="Taeguk e. V. Logo"
            />
            <span
                class="self-center font-semibold whitespace-nowrap dark:text-white"
            >
                Taeguk e.&nbsp;V.
            </span>
        </a>
        <!-- Hamburger menu -->
        <button
            data-collapse-toggle="navbar-multi-level"
            type="button"
            class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-multi-level"
            aria-expanded="false"
        >
            <span class="sr-only">Open menu</span>
            <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                    fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd"></path></svg
            >
        </button>
        <!-- End: Hamburger menu -->
        <div
            class="items-center justify-between md:flex hidden w-full md:w-auto"
            id="navbar-multi-level"
        >
            <ul
                class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
            >
                <SubMenu label="Taekwondo" routePrefix={`${BASE_URL}taekwondo`}>
                    <MenuLink
                        label="Allgemein"
                        route={`${BASE_URL}taekwondo`}
                    />
                    <MenuLink
                        label="Geschichte"
                        route={`${BASE_URL}taekwondo/history`}
                    />
                    <MenuLink
                        label="Grundschule"
                        route={`${BASE_URL}taekwondo/techniques`}
                    />
                    <MenuLink
                        label="Schrittkampf"
                        route={`${BASE_URL}taekwondo/one-step-sparring`}
                    />
                    <MenuLink
                        label="Vollkontakt"
                        route={`${BASE_URL}taekwondo/sparring`}
                    />
                    <SubMenu2
                        label="Formen"
                        parentLabel="Formen"
                        routePrefix={`${BASE_URL}taekwondo/poomse`}
                    >
                        <MenuLink
                            label="Was ist Poomse?"
                            route={`${BASE_URL}taekwondo/poomse`}
                        />
                        <MenuLink
                            label="Übersicht"
                            route={`${BASE_URL}taekwondo/poomse/overview`}
                        />
                    </SubMenu2>
                    <SubMenu2
                        label="Selbstverteidigung"
                        routePrefix={`${BASE_URL}taekwondo/self-defense`}
                    >
                        <MenuLink
                            label="Allgemein"
                            route={`${BASE_URL}taekwondo/self-defense`}
                        />
                        {
                            /* <MenuLink
                            label="SV-Konzept DTU"
                            route={`${BASE_URL}taekwondo/self-defense/concept`}
                        /> */
                        }
                        <MenuLink
                            label="Notwehr"
                            route={`${BASE_URL}taekwondo/self-defense/legal`}
                        />
                    </SubMenu2>
                    <MenuLink
                        label="Bruchtest"
                        route={`${BASE_URL}taekwondo/breaking`}
                    />
                    <MenuLink
                        label="Terminologie"
                        route={`${BASE_URL}taekwondo/terminology`}
                    />
                </SubMenu>
                <SubMenu label="Training" routePrefix={`${BASE_URL}training`}>
                    <MenuLink
                        label="Zeiten"
                        route={`${BASE_URL}training/hours`}
                    />
                    <MenuLink
                        label="Anfahrt"
                        route={`${BASE_URL}training/journey`}
                    />
                </SubMenu>
                <MenuLink
                    label="Termine"
                    route={`${BASE_URL}dates`}
                    isTopLevel
                />
                <MenuLink
                    label="Prüfungskatalog"
                    route={`${BASE_URL}catalog`}
                    isTopLevel
                />
                <SubMenu label="Regelwerke" routePrefix={`${BASE_URL}rules`}>
                    <MenuLink
                        label="Vereinssatzung"
                        route={`${BASE_URL}rules/club`}
                    />
                    <MenuLink
                        label="Finanzordnung"
                        route={`${BASE_URL}rules/financial`}
                    />
                    <MenuLink
                        label="Wettkampf"
                        route={`${BASE_URL}rules/competition`}
                    />
                    <MenuLink label="Prüfung" route={`${BASE_URL}rules/exam`} />
                </SubMenu>
                <SubMenu label="Verein" routePrefix={`${BASE_URL}club`}>
                    <MenuLink
                        label="Mitglied werden"
                        route={`${BASE_URL}club/join`}
                    />
                    <MenuLink
                        label="Vorstand"
                        route={`${BASE_URL}club/board`}
                    />
                    <MenuLink
                        label="Kontakt"
                        route={`${BASE_URL}club/contact`}
                    />
                    <MenuLink
                        label="Impressum"
                        route={`${BASE_URL}club/imprint`}
                    />
                    <MenuLink
                        label="Datenschutz"
                        route={`${BASE_URL}club/privacy`}
                    />
                    <MenuLink label="Links" route={`${BASE_URL}club/links`} />
                </SubMenu>
                <SubMenu label="Medien" routePrefix={`${BASE_URL}media`}>
                    <MenuLink
                        label="Gallerie"
                        route={`${BASE_URL}media/gallery`}
                    />
                    <MenuLink label="Presse" route={`${BASE_URL}media/press`} />
                </SubMenu>
            </ul>
        </div>
    </div>
</nav>

<!-- <div class="mt-20">
    <Debug
        route={`${import.meta.env.BASE_URL}taekwondo/one-step-sparring`}
    />
</div> -->
