---
/** https://flowbite.com/docs/components/accordion/ */

interface Props {
    heading: string
    isFirst?: boolean
    isLast?: boolean
}

const { heading, isFirst = false, isLast = false } = Astro.props
---

<span class="not-prose">
    <h2 id={`accordion-collapse-heading-${heading}`}>
        <button
            type="button"
            class:list={[
                'flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200',
                'focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800',
                { 'rounded-t-xl': isFirst },
                { 'border-b-0': !isLast },
            ]}
            data-accordion-target={`#accordion-collapse-body-${heading}`}
            aria-controls={`accordion-collapse-body-${heading}`}
        >
            <span>{heading}</span>
            <svg
                data-accordion-icon
                class="w-6 h-6 shrink-0"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </h2>
</span>
<div
    id={`accordion-collapse-body-${heading}`}
    class="hidden"
    aria-labelledby={`accordion-collapse-heading-${heading}`}
>
    <div
        class:list={[
            'px-8 py-5 border border-gray-200 dark:border-gray-700 dark:bg-gray-900',
            { 'border-b-0': !isLast },
        ]}
    >
        <slot />
    </div>
</div>
