---
import AccordionItem from '@components/AccordionItem.astro'
import Content from './Content.astro'
import { Content as ContentType, Section } from './types'

interface Props extends Section {}

const {
    title,
    isFirst,
    isLast,
    parentTitles = [],
    content: contents = [],
    sections = [],
} = Astro.props
---

<>
    {
        title && (
            <AccordionItem
                title={title}
                isFirst={isFirst}
                isLast={isLast}
                parentTitles={parentTitles}
            >
                {contents.length > 0 && (
                    <>
                        {contents.map((content) => (
                            <Content content={content} />
                        ))}
                    </>
                )}
                {sections.length > 0 && (
                    <div data-accordion="collapse">
                        {sections.map((section, index) => (
                            <Astro.self
                                {...section}
                                isFirst={index === 0}
                                isLast={index === sections.length - 1}
                                parentTitles={[...parentTitles, title]}
                            />
                        ))}
                    </div>
                )}
            </AccordionItem>
        )
    }
</>
