---
import { getImage } from 'astro:assets'

import Menu from '@components/menu/Menu.astro'
import Taeguk from '@components/Taeguk.astro'

import background from '@assets/bg.png'

interface Props {
    title: string
    bgImage?: boolean
    initFlowbite?: boolean
    /** For rendering Markdown */
    prose?: boolean
    class?: string
}

const { BASE_URL } = import.meta.env
const {
    title,
    bgImage = true,
    initFlowbite = true,
    prose = true,
    class: className = '',
    frontmatter = {},
} = Astro.props
---

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href={`${BASE_URL}apple-touch-icon.png`}
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href={`${BASE_URL}favicon-32x32.png`}
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href={`${BASE_URL}favicon-16x16.png`}
        />
        <link rel="manifest" href={`${BASE_URL}site.webmanifest`} />
        <link
            rel="mask-icon"
            href={`${BASE_URL}safari-pinned-tab.svg`}
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="keywords"
            content="Taekwondo,TKD,Selbsverteidigung,Kampf,Freikampf,Kampfkunst,Kampfsport,Wusterhausen,Kyritz,Sport,Training"
        />
        <link rel="sitemap" href={`${BASE_URL}sitemap-index.xml`} />
        <title>{title || frontmatter.title}</title>
    </head>
    <body class="antialiased mt-20">
        {
            bgImage && (
                <div
                    class="fixed w-full h-full bg-center bg-no-repeat opacity-70 -z-10"
                    style={`background-image: url(${
                        (
                            await getImage({
                                src: background,
                                format: 'avif',
                            })
                        ).src
                    })`}
                />
            )
        }
        <Menu />
        <main class="container md:mx-auto py-4">
            {
                prose ? (
                    <article
                        class:list={[
                            'prose max-w-none md:prose-base lg:prose-lg dark:prose-invert prose-p:text-justify',
                            className || frontmatter.class,
                        ]}
                    >
                        <slot />
                    </article>
                ) : (
                    <slot />
                )
            }
        </main>

        <footer class="bg-blue-500 dark:bg-blue-600 mt-32">
            <div class="w-full">
                <div
                    class="grid grid-cols-2 gap-12 px-6 md:px-12 lg:px-24 py-6 lg:py-8 md:grid-cols-3 text-sm text-white"
                >
                    <div>
                        <h2 class="mb-6 text-sm font-bold uppercase">Verein</h2>
                        <ul class="font-medium">
                            <li class="mb-4">
                                <a
                                    href={`${BASE_URL}training`}
                                    class="hover:underline">Training</a
                                >
                            </li>
                            <li class="mb-4">
                                <a
                                    href={`${BASE_URL}club/dates`}
                                    class="hover:underline">Termine</a
                                >
                            </li>
                            <li>
                                <a
                                    href={`${BASE_URL}club/exam-catalog`}
                                    class="hover:underline">Prüfungskatalog</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-bold uppercase">
                            Downloads
                        </h2>
                        <ul class="font-medium">
                            <li class="mb-4">
                                <a
                                    href={`${BASE_URL}pdfs/join/kids.pdf`}
                                    download="Antragsformular für Kinder.pdf"
                                    class="hover:underline">Antrag Kinder</a
                                >
                            </li>
                            <li class="mb-4">
                                <a
                                    href={`${BASE_URL}pdfs/join/adults.pdf`}
                                    download="Antragsformular für Erwachsene.pdf"
                                    class="hover:underline">Antrag Erwachsene</a
                                >
                            </li>
                            <li>
                                <a
                                    href={`${BASE_URL}pdfs/satzung.pdf`}
                                    download="Satzung.pdf"
                                    class="hover:underline">Satzung</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-bold uppercase">
                            Rechtliche Hinweise
                        </h2>
                        <ul class="font-medium">
                            <li class="mb-4">
                                <a
                                    href={`${BASE_URL}club/imprint`}
                                    class="hover:underline">Impressum</a
                                >
                            </li>
                            <li>
                                <a
                                    href={`${BASE_URL}club/privacy`}
                                    class="hover:underline">Datenschutz</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="px-6 md:px-12 lg:px-24 py-6 lg:py-8 text-white">
                    <h2 class="mb-6 text-sm font-bold uppercase">Disclaimer</h2>
                    <p>
                        Mit Urteil vom 12. Mai 1998 hat das Landgericht Hamburg
                        entschieden, dass man durch die Ausbringung eines Links
                        die Inhalte der gelinkten Seite ggf. mit zu verantworten
                        hat. Dies kann - so das LG - nur dadurch verhindert
                        werden, dass man sich ausdrücklich von diesen Inhalten
                        distanziert. Wir haben auf diesen Seiten Links zu
                        anderen Seiten im Internet gelegt. Für all diese Links
                        gilt: Wir möchten ausdrücklich betonen, dass wir
                        keinerlei Einfluss auf die Gestaltung und die Inhalte
                        der verlinkten Seiten haben. Deshalb distanzieren wir
                        uns hiermit ausdrücklich von allen Inhalten aller
                        verlinkten Seiten auf dieser Homepage und machen uns
                        deren Inhalte nicht zu eigen. Diese Erklärung gilt für
                        alle auf dieser Homepage verwendeten Links und für alle
                        Inhalte der Seiten, zu denen diese Links oder Banner
                        führen.
                    </p>
                </div>
                <div
                    class="grid grid-cols-2 gap-12 px-6 md:px-12 lg:px-24 py-4 lg:py-6 md:grid-cols-3 text-sm bg-white dark:bg-gray-300 text-blue-500"
                >
                    <span>
                        <a href="https://taeguk-wusterhausen.de">
                            <Taeguk />
                        </a>
                    </span>
                    <span class="hidden md:inline">2023</span>
                    <span>
                        <a href={`${BASE_URL}sitemap`}>Sitemap</a>
                    </span>
                </div>
            </div>
        </footer>
        <init-flowbite data-should-init={initFlowbite ? 'true' : 'false'}
        ></init-flowbite>
    </body>
</html>

<script>
    // Dont import from 'flowbite' because of auto-init side effects.
    import { initFlowbite } from 'flowbite/lib/esm/components'

    /** See https://docs.astro.build/en/guides/client-side-scripts/#pass-frontmatter-variables-to-scripts */
    class InitFlowbite extends HTMLElement {
        constructor() {
            super()
            if (this.dataset.shouldInit === 'true') {
                console.log('initializing flowbite')
                // TODO: Use CDN: https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.js
                initFlowbite()
            }
        }
    }

    customElements.define('init-flowbite', InitFlowbite)
</script>

<style is:global>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            #da62c4 30%,
            white 60%
        );
        /* --color-highlight: var(); */
    }
    html {
        font-family: system-ui, sans-serif;
        background-color: #cfcfcf;
        hyphens: auto;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    .prose ol > li > ol {
        list-style-type: upper-roman;
    }
    .prose ol > li > ol > li > ol {
        list-style-type: lower-roman;
    }
    .prose :where(ul > li):not(:where([class~='not-prose'] *))::marker {
        color: var(--tw-prose-counters);
    }
</style>
