---
import * as Types from '@pages/rules/exam-catalog/types'

type Props = Types.Text & { text: string }

const {
    break: linebreak = false,
    bold = false,
    italic = false,
    underline = false,
    text,
} = Astro.props
---

{
    bold ? (
        <strong>
            <Astro.self italic={italic} underline={underline} text={text} />
        </strong>
    ) : italic ? (
        <em>
            <Astro.self underline={underline} text={text} />
        </em>
    ) : underline ? (
        <span class="underline">
            <Astro.self text={text} />
        </span>
    ) : (
        text
    )
}
{linebreak && <br />}
